<h1>Понель администратора</h1>

<p><%= @status %></p>

<form action="/admin" method="post">
  Введите имя пользователя:<br> <input type="text" name="log"><br>
  Введите пароль: <br><input type="password" name="pas"><br>
  <br><input type="submit"/>

</form>

