<h2>
  Email
</h2>

<form action="/contacts" method="post">

<div class="form-group">
  <label>Ваше email</label>
  <input name="email" type="text" class="form-control"  placeholder="Ваше email">
</div>

<p>
  <label for="textarea">Запишите отзыв</label>
  <textarea name="text" id="textarea" rows="3"></textarea>
</p>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
